---
v2:
  metadata:
    title: "login_{{ cluster_name }}"
  job:
    adapter: "systemd"
    # Submit host can be the IP of the LB in front of the login VMSS
    submit_host: "{{ Login_ip }}"
    # When using multiple login nodes, list of them
    ssh_hosts:
      - {{ Login_ip }}
    #site_timeout: 7200
    strict_host_checking: false
    debug: true

  # Don't show ssh link in batch connect card
  batch_connect:
    ssh_allow: false
    basic:
      script_wrapper: |
        module purge
        %s